In [1]:
#Import basic packages
import os
import numpy as np
import pandas as pd
import csv
import regex as re
import datetime as dt

In [2]:
#import outcome file with org_uuid
main_df = pd.read_csv(R"d:/msc-project/data/final/outcome_final_v1.csv",encoding='utf-8',
                         index_col=False,
                         parse_dates= ['founded_on','seed_date','series_a_date','series_b_date','series_c_date'])
main_processing_df = main_df[['org_uuid','name','outcome','lead_investor_uuids_seed','lead_investor_uuids_series_a']]

C:\Users\Abdul Rahim Ab Ghani\miniconda3\lib\site-packages\IPython\core\interactiveshell.py:3147: DtypeWarning: Columns (12,13,14) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [3]:
len(main_df)

38605

In [4]:
#import investors data
investors_df = pd.read_csv(R"D:\msc-project\data\pre-processed\investors_preprocessed.csv",encoding='utf-8',
                         index_col=False,
                         parse_dates= ['founded_on','closed_on'])

In [5]:
investors_df.columns

Index(['investor_uuid', 'name', 'type', 'rank', 'country_code', 'state_code',
       'region', 'city', 'investor_types', 'investment_count',
       'total_funding_usd', 'total_funding', 'total_funding_currency_code',
       'founded_on', 'closed_on', 'facebook_url', 'linkedin_url',
       'twitter_url', 'logo_url'],
      dtype='object')

In [6]:
investors_df.head(3)

,investor_uuid,name,type,rank,country_code,state_code,region,city,investor_types,investment_count,total_funding_usd,total_funding,total_funding_currency_code,founded_on,closed_on,facebook_url,linkedin_url,twitter_url,logo_url
0,bf4d7b0e-b34d-2fd8-d292-6049c4f7efc7,Zoho,organization,7694.0,USA,CA,California,Pleasanton,NaN,6.0,NaN,NaN,NaN,1996-09-15,NaT,http://www.facebook.com/zoho,http://www.linkedin.com/company/zoho-corporati...,http://twitter.com/zoho,https://res.cloudinary.com/crunchbase-producti...
1,f4d5ab44-058b-298b-ea81-380e6e9a8eec,Omidyar Network,organization,1758.0,USA,CA,California,Redwood City,family_investment_office,313.0,NaN,NaN,NaN,2004-01-01,NaT,http://www.facebook.com/OmidyarNetwork,http://www.linkedin.com/company/22806,http://twitter.com/OmidyarNetwork,https://res.cloudinary.com/crunchbase-producti...
2,df662812-7f97-0b43-9d3e-12f64f504fbb,Facebook,organization,5.0,USA,CA,California,Menlo Park,NaN,32.0,1.612282e+10,1.612282e+10,USD,2004-02-04,NaT,https://www.facebook.com/facebook/,http://www.linkedin.com/company/facebook,https://twitter.com/facebook,https://res.cloudinary.com/crunchbase-producti...

In [7]:
main_processing_df.head(3)

,org_uuid,name,outcome,lead_investor_uuids_seed,lead_investor_uuids_series_a
0,eb37f7c8-c036-a915-bb7c-63f445330f66,Ceyba,0,NaN,beadb218-e5fa-2686-bc95-4dfaa9acc2e8
1,0a88fa0e-7abe-c4ac-ab69-877b01a9cb60,IceFyre Semiconductor,0,NaN,NaN
2,de462c42-b0a5-c5af-9637-ec426b4e991f,ORMvision,0,NaN,NaN

In [8]:
investor_processing_df = main_processing_df

In [9]:
investor_processing_df['lead_investor_uuids_first_fund'] = investor_processing_df['lead_investor_uuids_seed']
investor_processing_df['lead_investor_uuids_first_fund'] = investor_processing_df['lead_investor_uuids_first_fund'].fillna(investor_processing_df['lead_investor_uuids_series_a'])

C:\Users\Abdul Rahim Ab Ghani\miniconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
C:\Users\Abdul Rahim Ab Ghani\miniconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [10]:
investor_processing_df.head(3)

,org_uuid,name,outcome,lead_investor_uuids_seed,lead_investor_uuids_series_a,lead_investor_uuids_first_fund
0,eb37f7c8-c036-a915-bb7c-63f445330f66,Ceyba,0,NaN,beadb218-e5fa-2686-bc95-4dfaa9acc2e8,beadb218-e5fa-2686-bc95-4dfaa9acc2e8
1,0a88fa0e-7abe-c4ac-ab69-877b01a9cb60,IceFyre Semiconductor,0,NaN,NaN,NaN
2,de462c42-b0a5-c5af-9637-ec426b4e991f,ORMvision,0,NaN,NaN,NaN

In [11]:
investor_processing_df.drop(columns=['lead_investor_uuids_seed','lead_investor_uuids_series_a'],inplace=True)

C:\Users\Abdul Rahim Ab Ghani\miniconda3\lib\site-packages\pandas\core\frame.py:4315: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [12]:
investor_processing_df.head(3)

,org_uuid,name,outcome,lead_investor_uuids_first_fund
0,eb37f7c8-c036-a915-bb7c-63f445330f66,Ceyba,0,beadb218-e5fa-2686-bc95-4dfaa9acc2e8
1,0a88fa0e-7abe-c4ac-ab69-877b01a9cb60,IceFyre Semiconductor,0,NaN
2,de462c42-b0a5-c5af-9637-ec426b4e991f,ORMvision,0,NaN

In [13]:
len(investor_processing_df)

38605

In [14]:
investor_processing_df.dropna(subset=['lead_investor_uuids_first_fund'],inplace=True)

C:\Users\Abdul Rahim Ab Ghani\miniconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [15]:
len(investor_processing_df)

12158

In [16]:
investor_processing_df_v1 = pd.merge(investor_processing_df,
                                     investors_df[['investor_uuid','name','rank']],
                                     left_on='lead_investor_uuids_first_fund',
                                     right_on='investor_uuid',
                                     how='left')

In [17]:
len(investor_processing_df_v1)

12158

In [18]:
investor_processing_df_v1.head(3)

,org_uuid,name_x,outcome,lead_investor_uuids_first_fund,investor_uuid,name_y,rank
0,eb37f7c8-c036-a915-bb7c-63f445330f66,Ceyba,0,beadb218-e5fa-2686-bc95-4dfaa9acc2e8,beadb218-e5fa-2686-bc95-4dfaa9acc2e8,Bessemer Venture Partners,63.0
1,3d607a21-39bb-651e-c53f-9890ee334f18,Ygnition Networks,0,fcab9355-11b8-fba0-fed7-b4c8a474da43,fcab9355-11b8-fba0-fed7-b4c8a474da43,ComVentures,151328.0
2,f29f5734-7560-f912-2b6f-c9805ac9d50d,Dynogen Pharmaceuticals,0,"4884e025-054d-47d6-3c7e-6c397eee22cd,b2349e73-...",NaN,NaN,NaN

In [19]:
investor_processing_df_v2 = investor_processing_df_v1[['org_uuid','name_y','rank']]
investor_processing_df_v2.head(3)

                               org_uuid                     name_y      rank
0  eb37f7c8-c036-a915-bb7c-63f445330f66  Bessemer Venture Partners      63.0
1  3d607a21-39bb-651e-c53f-9890ee334f18                ComVentures  151328.0
2  f29f5734-7560-f912-2b6f-c9805ac9d50d                        NaN       NaN

In [20]:
investor_processing_df_v2.rename(columns={'name_y':'first_fund_investor'},inplace=True)
investor_processing_df_v2.head(3)

C:\Users\Abdul Rahim Ab Ghani\miniconda3\lib\site-packages\pandas\core\frame.py:4449: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

                               org_uuid        first_fund_investor      rank
0  eb37f7c8-c036-a915-bb7c-63f445330f66  Bessemer Venture Partners      63.0
1  3d607a21-39bb-651e-c53f-9890ee334f18                ComVentures  151328.0
2  f29f5734-7560-f912-2b6f-c9805ac9d50d                        NaN       NaN

In [21]:
main_processing_df_v1 = pd.merge(main_df['org_uuid'],
                                 investor_processing_df_v2,
                                 on='org_uuid',
                                 how='left')

In [22]:
len(main_processing_df_v1)

38605

In [23]:
main_processing_df_v1.head(3)

                               org_uuid        first_fund_investor  rank
0  eb37f7c8-c036-a915-bb7c-63f445330f66  Bessemer Venture Partners  63.0
1  0a88fa0e-7abe-c4ac-ab69-877b01a9cb60                        NaN   NaN
2  de462c42-b0a5-c5af-9637-ec426b4e991f                        NaN   NaN

In [24]:
main_processing_df_v1.isnull().sum(axis=0)

org_uuid                   0
first_fund_investor    28065
rank                   28065
dtype: int64

In [25]:
funding_rounds_df = pd.read_csv(R"d:/msc-project/data/pre-processed/funding_rounds_preprocessed.csv",encoding='utf-8', 
            index_col='funding_round_uuid',
           parse_dates=['announced_on'])

In [26]:
funding_rounds_df[funding_rounds_df['org_uuid'] == 'de462c42-b0a5-c5af-9637-ec426b4e991f']

,name,country_code,state_code,region,city,investment_type,announced_on,raised_amount_usd,raised_amount,raised_amount_currency_code,post_money_valuation_usd,post_money_valuation,post_money_valuation_currency_code,investor_count,org_uuid,org_name,lead_investor_uuids
funding_round_uuid,,,,,,,,,,,,,,,,,
49c9f66c-d6a6-58ed-8678-b01c2998e844,Series A - ORMvision,BEL,NaN,Oost-Vlaanderen,Lochristi,series_a,2001-05-01,445949.0,500000.0,EUR,NaN,NaN,NaN,1.0,de462c42-b0a5-c5af-9637-ec426b4e991f,ORMvision,NaN
fcb2422e-7230-442f-8367-e477036fe979,Series B - ORMvision,BEL,NaN,Oost-Vlaanderen,Lochristi,series_b,2001-11-06,1794321.0,2000000.0,EUR,NaN,NaN,NaN,2.0,de462c42-b0a5-c5af-9637-ec426b4e991f,ORMvision,0268c659-816e-00aa-2bc8-8f7b9fa5f86c

In [27]:
main_processing_df_v1['rank'].value_counts()

430.0        115
2383.0        74
180.0         61
9086.0        54
9381.0        51
            ...
249797.0       1
37228.0        1
199734.0       1
1334353.0      1
1420671.0      1
Name: rank, Length: 4550, dtype: int64

In [28]:
main_processing_df_v1.sort_values(by=['rank'])

                                   org_uuid first_fund_investor  rank
10828  cf1c8b7b-8a38-4a4c-d2a4-dbe1fe94b15c              Xiaomi   4.0
3345   f4f569af-694f-ff98-7fd2-0230dee95268              Xiaomi   4.0
11284  6874d23a-6617-48df-a7ee-2574e48f6897              Xiaomi   4.0
36015  e612fae5-2160-61a9-08a8-fbd3f763dc34              Xiaomi   4.0
28875  476aef3d-9cf8-03ba-b521-c4f266daa800            OurCrowd  11.0
...                                     ...                 ...   ...
38596  993a321e-5895-42c2-a234-841891fd694b                 NaN   NaN
38599  207d0f85-34b0-45d4-8bf5-63841ae0ec4b                 NaN   NaN
38600  e5c41b77-ca63-46f8-a1c5-ab0ffa60696d                 NaN   NaN
38601  dc27b710-d616-513e-5125-04c1e14cbc1b                 NaN   NaN
38602  d7a2a19c-b0cb-4424-9330-07b70021bcf3                 NaN   NaN

[38605 rows x 3 columns]

In [29]:
#assign 1 for top 1000 rank and 0 for above 1000 and no info.
rank_cat = list()

for rank in list (main_processing_df_v1['rank']):
    if rank <= 1000:
        rank_cat.append('cbtop1000')
    elif rank > 1000:
        rank_cat.append('not_cbtop1000')
    else:
        rank_cat.append('no_rank')

main_processing_df_v1['rank_cat'] = rank_cat

In [30]:
main_processing_df_v1.head(10)

,org_uuid,first_fund_investor,rank,rank_cat
0,eb37f7c8-c036-a915-bb7c-63f445330f66,Bessemer Venture Partners,63.0,cbtop1000
1,0a88fa0e-7abe-c4ac-ab69-877b01a9cb60,NaN,NaN,no_rank
2,de462c42-b0a5-c5af-9637-ec426b4e991f,NaN,NaN,no_rank
3,46e0c7e4-64a3-f67e-2be2-6e707d6d5a51,NaN,NaN,no_rank
4,89d81ccd-1b5d-4adb-1bcc-312ab6e4f90d,NaN,NaN,no_rank
5,1b923b7c-b415-a83c-cbcc-53b27c877907,NaN,NaN,no_rank
6,88206b5f-eefe-e06c-5a84-0dedd98dd529,NaN,NaN,no_rank
7,91f5ca18-e026-9482-8e4f-22593943e0f5,NaN,NaN,no_rank
8,3d607a21-39bb-651e-c53f-9890ee334f18,ComVentures,151328.0,not_cbtop1000
9,ab272c7d-735f-8ff7-d5b6-009ac6d91792,NaN,NaN,no_rank

In [31]:
column_names = list()

for column in pd.get_dummies(main_processing_df_v1['rank_cat']).columns:
    column_names.append('is_'+ column)

one_hot_encode_investor_rank = pd.get_dummies(main_processing_df_v1['rank_cat'], columns=column_names)

column_name_dict = dict (zip(one_hot_encode_investor_rank.columns,column_names))
one_hot_encode_investor_rank.rename (columns=column_name_dict,inplace=True)

In [32]:
one_hot_encode_investor_rank.head(3)

   is_cbtop1000  is_no_rank  is_not_cbtop1000
0             1           0                 0
1             0           1                 0
2             0           1                 0

In [33]:
main_processing_df_v2 = pd.concat([main_processing_df_v1,one_hot_encode_investor_rank],
                                 axis = 1)

In [34]:
main_processing_df_v2.head(3)

,org_uuid,first_fund_investor,rank,rank_cat,is_cbtop1000,is_no_rank,is_not_cbtop1000
0,eb37f7c8-c036-a915-bb7c-63f445330f66,Bessemer Venture Partners,63.0,cbtop1000,1,0,0
1,0a88fa0e-7abe-c4ac-ab69-877b01a9cb60,NaN,NaN,no_rank,0,1,0
2,de462c42-b0a5-c5af-9637-ec426b4e991f,NaN,NaN,no_rank,0,1,0

In [35]:
main_processing_df_v3 = main_processing_df_v2.drop(['first_fund_investor','rank','rank_cat'],axis=1)

In [36]:
main_processing_df_v3.head(3)

,org_uuid,is_cbtop1000,is_no_rank,is_not_cbtop1000
0,eb37f7c8-c036-a915-bb7c-63f445330f66,1,0,0
1,0a88fa0e-7abe-c4ac-ab69-877b01a9cb60,0,1,0
2,de462c42-b0a5-c5af-9637-ec426b4e991f,0,1,0

# Rename column and save file

In [37]:
len(main_processing_df_v3)

38605

In [38]:
main_processing_df_v3.set_index('org_uuid',inplace=True)

new_column_name = list()
for column in list(main_processing_df_v3.columns):
    new_column_name.append('investor_' + column)
new_column_dict = dict(zip(main_processing_df_v3.columns,new_column_name))
main_processing_df_v3.rename(columns = new_column_dict,inplace=True)
main_processing_df_v3.head(3)

,investor_is_cbtop1000,investor_is_no_rank,investor_is_not_cbtop1000
org_uuid,,,
eb37f7c8-c036-a915-bb7c-63f445330f66,1,0,0
0a88fa0e-7abe-c4ac-ab69-877b01a9cb60,0,1,0
de462c42-b0a5-c5af-9637-ec426b4e991f,0,1,0

In [39]:
main_processing_df_v3.to_csv(r'd:\msc-project\data\final\features_investor.csv',encoding='utf=8')